main {
  max-width: 49rem;
  margin: auto;
  font-family:'Open Sans', sans-serif;

}
body {
	  background: #3a3a3a;
	  color:#e2e2e2;
	  padding: 0px;
	  margin: 0;
	  padding-top: 0;
}

h2 {
	font-family: 'Noto Sans', sans-serif;
	padding: 0px;
	font-size: 24pt;
	margin-bottom: 10px; 
	margin-top: 0px;
}

.top-part {
  background-color: #435995;
  padding-bottom: 8px;

}

.top-part ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-family:'Open Sans';
  display: table;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;


}
.top-part ul li {
  display: inline;
  padding: 0;
  align-content: center;
  text-shadow: 2px 2px #4f4f4f;
  display: table-cell;
  text-align: center;
  

}


.top-part li a {
	background-color:#0B1D4D;
	color:#fff;
	padding: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration: none;
	transition-duration: 0.25s;
	font-family:'Open Sans';
	display: block;
}
.top-part li a:hover{
	background-color:#133080;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.43), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: block;
}
.right-img{
	border-style:solid;
	border-width: 2	px;
	border-color: #435995;
	float: right;
	margin-left: 5px;
	border-radius: 2px;
	flex-wrap: wrap;
}
.left-img{
	border-style:solid;
	border-width: 2	px;
	border-color: #435995;
	float: left;
	margin-right: 5px;
	border-radius: 2px;
	flex-wrap: wrap;
}
h1 {
	font-size: 50;
	font-family: 'Noto Sans', sans-serif;
	border-spacing: 0px;
	padding: 0;
	border-top: 100px;
	margin-bottom: 5px;
	margin-top: 5px; 
}
.top-part{
	text-align: center;

}
p{
	margin-bottom: 8px;
	margin-top: 8px; 
}